.todo-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: rgb(254, 175, 28);
  z-index: 10;
}

.todo-container p {
  font-size: 20px;
}
.todo-container input {
  height: 25px;
}

.todo-container .input-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.completed {
  text-decoration: line-through;
}

.todo-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.icon {
  width: 20px;
  height: 20px;
  color: white;
  z-index: 20;
}

.todo-edit-input {
}
