.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  background-color: rgb(255, 200, 97);
  margin-top: 30px;
  position: relative;
}
.title-container {
  /* background-color: red; */
  margin: 20px 20px;
}

.add-button {
  /* background-color: blue; */
  width: 50px;
  height: 38px;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}
.add-button:hover,
.add-button:active {
  background-color: white;
  color: black;
}
.input {
  /* background-color: green; */
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}

.todos {
  /* margin: 20px; */
}

.todo-item {
  height: 20px;
}

.sign-button {
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}
