.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background-color: rgb(255, 200, 97);
  margin-top: 30px;
  position: relative;
  max-height: 600px;
}
.title-container {
  /* background-color: red; */
  margin: 20px 20px;
}

.add-button {
  /* background-color: blue; */
  width: 50px;
  height: 38px;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
}
.add-button:hover,
.add-button:active {
  background-color: white;
  color: black;
}
.input {
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  width: 64%;
}

.todos-container {
  overflow: scroll;
  overflow-x: hidden;
  z-index: 100;
  /* overflow: hidden; */
}

.todos-container::-webkit-scrollbar {
  background: rgb(255, 200, 97);
  /* display: none; */
  /* width: 100%;  */
  /* width: 20px; */
  /* position: absolute; */
}
.todo-item {
  height: 20px;
}

.sign-button {
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background: rgb(151, 99, 2);
}
